body {
font-family:Helvetica;
font-size:16px
}

img {
height:16px;
width:16px
}

span {
padding:0;
margin:0;
}

.bounding-box {
margin:auto;
padding:0;
background-size:contain;
position:relative;
background-position:top;
background-repeat:no-repeat
}

#voice-div {
position:absolute;
top:50px;
right:8px
}

#verb-div {
position:fixed;
top:0;
left:0
}

rd {
color:#cc1d1d
}

bw {
color:#C8323C
}

gr {
color:#2a5e01
}

sp {
color:#696969
}

sup {
font-size:19px;
font-weight:700;
line-height:100%;
color:#236000
}

bl {
color:#011eb4;
display:block
}

gy {
color:#bbbbbb;
display:block
}

pp {
color:#021ff8
}

a {
color:#056DA1
}

blk {
padding:0;
margin:0;
display:block
}

blk:first-child {
margin-left:1em;
display:block
}

c,k {
margin:0;
padding:0;
color:#C8323C;
display:block
}

.breakline {
height:18px;
background:#fff url(hr1.png) no-repeat scroll center;
background-size:98px 18px
}

.title {
text-align:center;
margin-top:10px;
font-weight:700
}
