html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet {
margin: 0;
padding: 0;
border: 0;
}
body {
font-size: 62.5%;
font-family: Arial,sans-serif;
color: #000;
background: #fff
}
table {
border-collapse: collapse;
border-width: 0;
empty-cells: show
}
ul {
padding: 0 0 1em 1em
}
ol {
padding: 0 0 1em 1.3em
}
li {
line-height: 1.5em;
padding: 0 0 .5em 0
}
p {
padding: 0 0 1em 0
}
h1,h2,h3,h4,h5 {
padding: 0 0 1em 0
}
h1,h2 {
font-size: 1.3em
}
h3 {
font-size: 1.1em
}
h4,h5,table {
font-size: 1em
}
sup,sub {
font-size: .7em
}
input,select,textarea,option {
font-family: inherit;
font-size: inherit
}
.ss-base-body {
font-size: .8em
}
.ss-textarea {
max-width: 99%;
}
.ss-choice-item {
margin: 0;
line-height: 1.3em;
padding-bottom: .5em
}
.ss-form-entry input {
vertical-align: middle;
margin-top: 0
}

.g {
color: #666
}
.i {
display: inline
}
.ss-form-desc {
font: inherit;
width: 99%;
margin: 0
}
.ss-q-title {
display: block;
font-weight: bold
}
.ss-q-help {
display: block;
color: #666;
margin: .1em 0 .25em 0
}
.ss-q-long {
max-width: 100%;
border-radius:0;
outline: none;
-webkit-box-shadow:inset 0 0 0 0px #ffffff;
box-shadow: inset 0 0 0 0px #ffffff;
border-style: 1px solid;
border-color: #aaa;
}
.ss-form-entry {
margin-bottom: 0.2em;
zoom: 1;
}
.ss-choices {
list-style: none;
margin: .5em 0 0 0;
padding: 0
}

.ss-required-asterisk {
color: #c43b1d
}
.ss-section-title {
background-color: #eee;
padding: 0.4em;
margin: 2em -0.4em 0
}
.ss-section-description {
margin-top: 0.5em
}
.ss-no-ignore-whitespace {
white-space: pre-wrap;
white-space: -moz-pre-wrap;
word-wrap: break-word
}
.ss-page-title {
margin: 0;
padding: 0
}
.ss-confirmation-header {
font-size: 140%;
padding-bottom: 1em
}

.ss-scalenumbers {
text-align: center
}
.ss-scalenumber {
display: block;
padding: 0.5em 0 .5em
}
.ss-scalerow {
text-align: center;
color: #666;
border: 1px solid #d3d8d3;
border-left: 0;
border-right: 0;
padding: .5em .25em
}
td.ss-leftlabel {
text-align: right;
padding-left: 0
}
td.ss-rightlabel {
text-align: left;
padding-right: 0
}
body {
padding: 0.5em 0.5em;
}
h1 {
font-size: 1.8em;
padding: 0
}
label {
display: block;
cursor: pointer
}
ul label {
display: inline
}
hr {
border: 0;
height: 1px;
background-color: #ddd
}
table {
border-collapse: collapse
}
.ss-response-cell {
background-color: #fff;
border: 1px solid #ccc;
padding: .1em .5em
}
.ss-responses-header {
background-color: #969696;
color: #fff;
padding: .2em .5em
}
.ss-form-container {
width: 90%;
background-color: #fff;
border: none;
margin: 0 auto;
padding: 1em
}
.ss-submit {
  font-size:1.5em;
  text-align: middle;
}
.ss-confirmation-banner {
background-color: #ffff87
}
.ss-old-form-response {
background-color: #ffff3d;
font-weight: bold
}
.ss-no-ignore-whitespace {*white-space:pre
}
body.ss-base-body{font-family:Arial,sans-serif}
div.ss-form-container{padding:15px;background-color:#fff;border-style:none}
h1.ss-form-title{background-color:#eee;padding:15px;margin:-15px -15px 15px;color:#333;text-align:left;}
div.errorbox-bad{background-color:#f7f7f7}
h2.ss-section-title{background-color:transparent}
div.ss-form-entry{background:none;border:none;}
.pomegranate-flat-button {
position: relative;
vertical-align: middle;
width: 100%;
height: 30px;
padding: 5px 0 0 0;
font-size: 22px;
color: white;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #c0392b;
border: 0;
border-bottom: 2px solid #b53224;
cursor: pointer;
-webkit-box-shadow: inset 0 -2px #b53224;
box-shadow: inset 0 -2px #b53224;
}